<mat-card class="title-page"><h3>Text Sharing</h3></mat-card>

<div class="container" *ngIf="senderServ.id !== undefined || null; else idNotSet">
    <p><b>Channel : {{ senderServ.simpleChannelID }}</b> (Uploaded {{ senderServ.fileList.length }} {{ (senderServ.fileList.length > 1) ? 'texts': 'text' }})</p>
</div>
<ng-template #idNotSet>
    <mat-card style="text-align: center">Channel Not Set</mat-card>
</ng-template>

<div class="list-file-container" *ngIf="senderServ.id !== undefined || null">
    <mat-card *ngIf="(senderServ.fileList.length === 0) && (senderServ.id !== undefined || null); else list" style="text-align: center;">No Text Uploaded</mat-card>
    <ng-template #list>
    <mat-list *ngIf="senderServ.fileList.length > 0" style="background-color: white">
        <mat-list-item *ngFor="let list of senderServ.fileList; let i = index">
            <h4 mat-line [title]="list.theText">{{ list.theText }}</h4>
            <p matLine style="font-style: italic;">{{ list.theText.length }} {{ (list.theText.length > 1) ? 'characters' : 'character' }}</p>
            <div class="dl-btn-wrapper">
                <a mat-icon-button color="warn" matTooltip="Delete" matTooltipClass="biggerfont" (click)="senderServ.deleteText(list.id, i)">
                    <mat-icon>delete</mat-icon>
                </a>
            </div>
            <mat-divider></mat-divider>
        </mat-list-item>
    </mat-list>
    </ng-template>
</div>

<div class="flex-center">
    <div class="buttoncontainer fly">
        <button  *ngIf="senderServ.id == undefined || null; else idCreated" mat-fab matTooltip="Start" matTooltipClass="biggerfont" (click)="senderServ.openCreateChannelDialog()" color="primary"><mat-icon>power_settings_new</mat-icon></button><span class="spacer"></span>
        <ng-template #idCreated>
            <button (click)="senderServ.openTextUploadDialog()" mat-fab matTooltip="Upload" matTooltipClass="biggerfont" color="primary" [disabled]="senderServ.isLoading || senderServ.isUploading"><mat-icon>cloud_upload</mat-icon></button>
        </ng-template>
        <button *ngIf="!senderServ.isCookieExist; else cookieExist" mat-fab matTooltip="Back" matTooltipClass="biggerfont" routerLink=""><mat-icon>arrow_back</mat-icon></button>
        <ng-template #cookieExist>
            <button *ngIf="senderServ.isCookieExist" mat-fab matTooltip="End Session" matTooltipClass="biggerfont" color="warn" (click)="senderServ.openDisconnectDialog()" [disabled]="senderServ.isLoading || senderServ.isUploading"><mat-icon>close</mat-icon></button>
        </ng-template>
    </div>
</div>


