<div class="container" *ngIf="senderServ.id !== undefined || null">
    <p style="font-weight: bold">Channel : {{ senderServ.id }}</p>
</div>

<mat-card *ngIf="senderServ.fileList == undefined || null; else list" style="text-align: center;">No File Uploaded</mat-card>
<ng-template #list>
<mat-list style="background-color: white">
    <mat-list-item *ngFor="let list of senderServ.fileList">
        <mat-icon mat-list-icon>description</mat-icon>
        <h4 mat-line>{{ list.name }}</h4>
        <p mat-line>{{ list.size }} bytes</p>
    </mat-list-item>
</mat-list>
</ng-template>

<div class="buttoncontainer">
    <button mat-raised-button (click)="fileUpload.click()">Upload</button>
    <input #fileUpload style="display: none;" type="file" (change)="uploadFile($event)"><span class="spacer"></span>
    <button *ngIf="!senderServ.isCookieExist" mat-raised-button routerLink="">Back</button>
    <button *ngIf="senderServ.isCookieExist" mat-raised-button color="warn" (click)="senderServ.openDisconnectDialog()">Disconnect</button>
</div>

