/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-color: #ECECEC; }
span.spacing {
    flex: auto;
}

span.divider {
    width: 20px;
}
.spacer {margin-right: 10px;}
.spacer-top {margin-top: 10px;}
.buttoncontainer {margin: auto;}
.container {
    background: rgb(251, 251, 251);
    width: auto;
    color: black;
    margin-bottom: 5px;
    padding: 5px 16px;
}
.container.centertext {text-align: center;}
.center {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.mat-tooltip.biggerfont {
    font-size: 13px;
}
.dl-btn-wrapper {
    display: flex;
    flex-direction: row;
    border-left: 1px ridge rgb(223, 223, 223);
    padding-left: 10px;
    align-content: space-between;
}

.home-container {
    /* border: 1px groove black; */
    padding: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: space-between;
}

.margin-snackbar {
    margin-top: 80px !important;
}

.home-container > mat-card {
    width: 200px;
    height: auto;
    margin: 5px;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.list-file-container {
    height: calc(100vh - 230px);
    overflow: auto;
}

.role-card > button {
    bottom: 10px;
}

.dl-btn-wrapper > a {
    margin: 3px;
}

.buttoncontainer.fly {
    position: fixed;
    bottom: 20px;
}

audio, video {
    width: 100%;
}

.mat-dialog-title {
    word-break: break-all;
}

.mat-dialog-container {
    max-height: 90vh !important;
}

.mat-dialog-content {
    max-height: none !important
}

.mat-dialog-actions.preview {
    position: sticky;
    bottom: -24px;
}

.title-page {
    background: #2B9720;
    color: #ffffff;
    text-align: center;
    font-weight: bolder;
    margin: 0 0 10px 0;
}