<div>
    <mat-card style="text-align: center">
        <h3 matLine>Welcome to Fashare</h3>
        <p>A web application for sharing a file or text in any devices. <br/> Choose your role below</p>
    </mat-card>
</div>
<div class="home-container spacer-top">
    <mat-card class="role-card">
        <h4>Sender</h4>
        <p>You will be host a channel for sharing</p>
        <div class="center">
            <button mat-raised-button color="primary" matTooltip="File Sharing" matTooltipClass="biggerfont" routerLink="/sender/filesharing">File</button>
            <button mat-raised-button color="primary" matTooltip="Text Sharing" matTooltipClass="biggerfont" routerLink="/sender/textsharing">Text</button>
        </div>
    </mat-card>
    <mat-card class="role-card">
        <h4>Receiver</h4>
        <p>You will be the client for any available channel</p>
        <div class="center">
            <button mat-raised-button color="primary" routerLink="/receiver">Go</button>
        </div>
    </mat-card>
</div>
